<a href="https://colab.research.google.com/github/prawizard/CE888_Repo/blob/main/Lab_6/Task7_Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import cluster, datasets, metrics
import seaborn as sns

In [9]:
country_data=pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv')
country_data.head()

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [14]:
country_data.values[:,1:]

array([[90.2, 10.0, 7.58, ..., 56.2, 5.82, 553],
       [16.6, 28.0, 6.55, ..., 76.3, 1.65, 4090],
       [27.3, 38.4, 4.17, ..., 76.5, 2.89, 4460],
       ...,
       [23.3, 72.0, 6.84, ..., 73.1, 1.95, 1310],
       [56.3, 30.0, 5.18, ..., 67.5, 4.67, 1310],
       [83.1, 37.0, 5.89, ..., 52.0, 5.4, 1460]], dtype=object)

In [15]:
country_clusters_kmeans=cluster.KMeans(n_clusters=3)
country_clusters_kmeans.fit(country_data.values[:, 1:])
country_clusters_kmeans.labels_

array([0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2,
       2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 0, 0, 0, 2, 2, 2, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 1, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [17]:
country_data.iloc[:, 1:]

     child_mort  exports  health  ...  life_expec  total_fer   gdpp
0          90.2     10.0    7.58  ...        56.2       5.82    553
1          16.6     28.0    6.55  ...        76.3       1.65   4090
2          27.3     38.4    4.17  ...        76.5       2.89   4460
3         119.0     62.3    2.85  ...        60.1       6.16   3530
4          10.3     45.5    6.03  ...        76.8       2.13  12200
..          ...      ...     ...  ...         ...        ...    ...
162        29.2     46.6    5.25  ...        63.0       3.50   2970
163        17.1     28.5    4.91  ...        75.4       2.47  13500
164        23.3     72.0    6.84  ...        73.1       1.95   1310
165        56.3     30.0    5.18  ...        67.5       4.67   1310
166        83.1     37.0    5.89  ...        52.0       5.40   1460

[167 rows x 9 columns]

In [18]:
print("Silhouette Coefficient: %0.3f"% metrics.silhouette_score(country_data.iloc[:, 1:], country_clusters_kmeans.labels_))

Silhouette Coefficient: 0.700

In [21]:
country_data['PredictedCategory']=country_clusters_kmeans.labels_+1

In [22]:
country_data.head()

               country  child_mort  ...   gdpp  PredictedCategory
0          Afghanistan        90.2  ...    553                  1
1              Albania        16.6  ...   4090                  1
2              Algeria        27.3  ...   4460                  1
3               Angola       119.0  ...   3530                  1
4  Antigua and Barbuda        10.3  ...  12200                  1

[5 rows x 11 columns]

In [23]:
country_data['PredictedCategory'].value_counts()

1    128
3     32
2      7
Name: PredictedCategory, dtype: int64

In [24]:
two_vars_1=country_data.loc[country_data['PredictedCategory']==1, :].values
two_vars_2=country_data.loc[country_data['PredictedCategory']==2, :].values
two_vars_3=country_data.loc[country_data['PredictedCategory']==3, :].values